/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Example: make the body full height and default background */
body {
  @apply h-screen text-white bg-dark-2;
}

@layer utilities {
  .flex-between {
    @apply flex items-center justify-between
  }

  .flex-center {
    @apply flex items-center justify-center
  }
  
  .flex-items {
    @apply flex items-center
  } 
  
  .center-element {
    @apply absolute w-[75%] right-7 
  }

  .userImg {
    @apply relative -left-5
  }

  @keyframes feedIn {
    0% {
      opacity : 0;
      display: none;
    }
    100% {
      opacity : 1;
    }
  }

  @keyframes feedOut {
    0% {
      opacity : 1;
    }
    100% {
      opacity : 0;
      display : none;
    }
  }

  .open  {
    animation : feedIn .1s ease forwards;
  }

  .close {
    animation : feedOut .5s ease forwards;
  }

}

/* ==== clerk class override ===== */

.cl-providerIcon__github {
  filter: invert(1);
}

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}